@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body, pre, code, kbd, samp {
  font-family: 'Press Start 2P', cursive;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
}

.background {
  grid-area: 1/1;
  filter: opacity(50%);
}

.container main {
  grid-area: 1/1;
  position: relative;
  place-items: center;
  display: grid;
  padding: 16px;
}